<div class="container">
    <!-- GENERAL INFO -->
    <div class="General-Info my-4">
        <h4 class="mb-3">General Info</h4>
        <div class="d-flex ">
            <!-- Location -->
            <div class="infoContainer m-3 my-4">
                <div class="d-flex">
                    <span class="material-symbols-outlined">where_to_vote</span>
                    <h5>Location</h5>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum ea error quis consectetur aliquam praesentium! Asperiores veniam officia quae repellat quasi accusantium est nemo, a porro totam laborum et cupiditate.</p>
            </div>

            <!-- Members Should Be... -->
            <div class="infoContainer m-3 my-4">
                <div class="d-flex">
                    <span class="material-symbols-outlined">male</span>
                    <h5>Members should be</h5>
                </div>
                <p>Men</p>
            </div>

            <!-- Opening hours -->
            <div class="infoContainer m-3 my-4">
                <div class="d-flex">
                    <span class="material-symbols-outlined">schedule</span>
                    <h5>Opening hours</h5>
                </div>
                <p>Time</p>
            </div>
        </div>

        <hr>

        <!-- ABOUT THE GYM -->
        <div class="About my-4">
            <h4 class="mb-3">About GymName</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, molestias similique amet provident illo sed. Consectetur, ratione. Aliquam autem error animi fugiat. Porro perspiciatis eligendi deserunt nulla, quisquam enim soluta!</p>
        </div>

        <hr>

        <!-- TAGS -->
        <div class="tags my-4">
            <h4 class="mb-3">Tags</h4>
            <div class="d-flex">
                <p>Kids are</p>
                <p>Kids are</p>
            </div>
        </div>

        <hr>

        <!-- Facilities -->
        <div class="Facilities my-4" mb-5>
            <h4 class="mb-3">Facilities</h4>

            <div class=" facilitiesCard m-2">
                <span class="material-symbols-outlined">schedule</span>
                <p>Free Wi-Fi</p>
            </div>

            <div class=" facilitiesCard m-2">
                <span class="material-symbols-outlined">schedule</span>
                <p>Free Wi-Fi</p>
            </div>
        </div>

        <hr>

        <!-- Contact Us -->
        <div class="contact my-4">
            <h4 class="mb-3">Contact Us</h4>

        </div>
    </div>
</div>