.infoContainer {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.tags p {
    width: 8%;
    text-align: center;
    border-radius: 50px;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.facilitiesCard {
    display: flex;
    align-items: center;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;;
    border-radius: 10px;
    width: 30%;
}

.facilitiesCard span {
    background-color: #5614CF;
    color: white;
    padding: 3px;
    border-radius: 10px;
    margin-right: 10px;
}

.facilitiesCard p {
    margin: 0;
    padding: 0;
}