<div class="page">
    <div class="main">
        <h2 class="fw-bold">Forgot Password</h2>
        <h4 class="text-light">We will send you a verification code to verify your phone number</h4>
    
        <div class="content">
            <form class="inputForm">
                <label for="phone" class="text-light fs-5 fw-bold">Phone</label>
                <div class="input-group mb-5" id="phone">
                    <button class="btn btn-outline-light" type="button" id="button-addon1">
                        <span class="material-symbols-outlined">flag</span>
                    </button>
                    <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon"
                        aria-describedby="button-addon1">
                </div>
                
            </form>
            <div class="becomeMemberBtn">
                <button class="btn submitBtn px-4" type="button">Submit</button>
            </div>
        </div>
    </div>
</div>

