<div class="container">
    <div class="accordion accordion-flush accordionCard mb-3" id="accordionFlushExample">
        <div class="accordion-item ">
          <h2 class="accordion-header " id="flush-headingOne">
            <button class="accordion-button collapsed accordionBtn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              <div class="d-flex justify-content-between w-100 py-4">
                <div>
                    <h3>Rania Class new</h3>
                    <p>6 places remaining</p>
                    <p>Class description</p>
                </div>

                <div>
                    <h3>120 EGP</h3>
                    <button class="btn btn-danger" type="button" data-bs-toggle="offcanvas" data-bs-target="#signInCanvas" aria-controls="offcanvasTop">Join now</button>
                </div>
              </div>
              <p class="fw-bold">8 session</p>
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <hr>
                <p>Sessions should be consumed within <span>10 Days</span></p>
                <hr>
                <p>Schedule:</p>
                <h6>Sat, Mon, Wed</h6>
            </div>
          </div>
        </div>
        
      </div>
</div>

<!-- SIGN IN CANVAS-->
<div class="offcanvas offcanvas-top mainCanvas" tabindex="-1" id="signInCanvas" aria-labelledby="offcanvasTopLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasTopLabel"><!-- CHOOSE YOUR ACCOUNT --></h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <app-sign-in></app-sign-in>
  </div>
</div>