.aa{
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
}

ng-template {
    min-width: 100vw !important;
    min-height: 100vh !important;
    margin: 0;
}

.mainBar {
    position: absolute;
    z-index: 10;
    width: 80%;
    left: 0;
    right: 0;
    margin: auto;
    
}

.map {
    position: absolute;
    z-index: 0;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
}