<div class="main">
    <div class="input-group mb-3 main-input-group">
        <input type="text" class="searchInput fs-6 search-input px-5" placeholder="Search by gym name, facilities" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="filterBtn px-2" type="button " id="button-addon2" >Filter</button>
        <button class="FindBtn px-5" type="button " id="button-addon2">FIND GYMS</button>

      </div>

    <button class="fs-6 switch-btn" type="submit" 
    (click)="onViewChange()"
    *ngIf="status == false">SWITCH TO MAP VIEW</button>

    <button class="fs-6 switch-btn" type="submit" 
    (click)="onViewChange()"
    *ngIf="status == true">SWITCH TO LIST VIEW</button>
    
</div>


