.cards {
    margin-top: 100px;
}

.card
{
    display: flex;
    flex-direction: column;
    object-fit: cover;
    border-radius: 20px;
}

.footer 
{
    background-color: green;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

