<div class="container">
    <div class="accordion accordion-flush accordionCard mb-3" id="accordionFlushExample">
        <div class="accordion-item ">
          <h2 class="accordion-header " id="flush-headingOne">
            <button class="accordion-button collapsed accordionBtn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              <div class="d-flex justify-content-between w-100 py-4">
                <div>
                    <h3>Package Test</h3>
                    <p>Class description</p>
                </div>

                <div>
                    <h3>120 EGP</h3>
                    <button class="btn btn-danger">Join now</button>
                </div>
              </div>
              <p class="fw-bold">1 Months</p>
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <hr>
                <p>Sessions should be consumed within <span>10 Days</span></p>
                <hr>
                <p>Schedule:</p>
                <h6>Sat, Mon, Wed</h6>
            </div>
          </div>
        </div>
        
      </div>

    
</div>