<!-- Header -->
<app-gym-details-header></app-gym-details-header>

<!-- Body -->
<div class="container">
    <ul class="List mt-5">
        <li><a class="btn fs-5" routerLink="gym-info" routerLinkActive="fw-bold">Info</a></li>
        <li><a class="btn fs-5" routerLink="gym-photos" routerLinkActive="fw-bold">Photos</a></li>
        <li><a class="btn fs-5" routerLink="gym-classes" routerLinkActive="fw-bold">Classes</a></li>
        <li><a class="btn fs-5" routerLink="gym-packages" routerLinkActive="fw-bold">Packages</a></li>
        <li><a class="btn fs-5" routerLink="gym-reviews" routerLinkActive="fw-bold">Reviews</a></li>
    </ul>
</div>

<router-outlet></router-outlet>