<!-- Header -->
<app-gym-details-header></app-gym-details-header>
<!-- Body -->
<div class="container">
    <ul class="List mt-5">
        <a class="btn fs-5" routerLink="gym-info" routerLinkActive="fw-bold"><li>Info</li></a>
        <a class="btn fs-5" routerLink="gym-photos" routerLinkActive="fw-bold"><li>Photos</li></a>
        <a class="btn fs-5" routerLink="gym-classes" routerLinkActive="fw-bold"><li>Classes</li></a>
        <a class="btn fs-5" routerLink="gym-packages" routerLinkActive="fw-bold"><li>Packages</li></a>
        <a class="btn fs-5" routerLink="gym-reviews" routerLinkActive="fw-bold"><li>Reviews</li></a>
    </ul>
</div>

<router-outlet></router-outlet>